.div1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-style: oblique;
    background-color: bisque;
}
.div2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: italic;
    background-color: beige;
}
.div3{
    font-family: "Sofia", sans-serif;
    background-color: azure;
}
.div4{
    font: italic small-caps bold 12px/30px Georgia, serif;
    background-color: rgb(177, 151, 151);
}